header nav {
  background-color: var(--grey-color);
  padding: var(--size-20);
}

header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav ul li {
  padding: var(--size-10) 0;
  text-transform: uppercase;
  color: var(--white-color);
}

header nav ul li:nth-child(odd) {
  align-self: flex-end;
}

header nav ul li:nth-child(even) {
  align-self: flex-start;
}

@media screen and (min-width: 48em) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  header nav ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
