body{
    background-color: burlywood;
}
p#paragraf1{
    margin-left: 5%;
}
mark{
    background-color: red;
    color: whitesmoke;
}
header.naglowek{
    background-color: aliceblue;
}
footer.stopka{
    color: whitesmoke;
    background-color: slategray;
}