body {
  background-image: url("https://freefrontend.com/assets/img/css-background-patterns/css3-gradient-pattern.png");
  margin: 0px;
}
.nav {
  margin-top: 30px;
  background-color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 22px 0px;
}

.nav a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.box {
  border: 2px solid;
  height: 150px;
  width: 500px;
  border-color: black;
  background-color: white;
  margin-top: 30px;
  margin-left: 5px;
  padding: 10px;
  /* Tu bym dał float: left */
}

/* To bym wywalił */
#float {
  float: left;
}
#nonFloat {
  clear: both;
}

/* dałbym jeszcze selektor:
  .boxes {
    overflow: hidden;
  }
*/
