.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.j-c-space-between {
  justify-content: space-between;
}

.a-s-center {
  align-self: center;
}
