body {
  font-family: 'Be Vietnam Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header{
  top: 0;
  background: red;
  /* Position fixed najbezpieczniej dać dla elementu rodzica
  w tym przypdaku dałbym fixed tutaj zamiast w linijce 17
  width: 100% i tlo białe :) */
}
nav {
  height: 100px;
  top: 0;
  bottom: 0;
  position: fixed;
}

main {
  /* Za duży odstęp od góry, 120px by starczyło. Patrzę na zadanie, rzeczywiście
  zły projekt zrobiłem. Tak user friendly by było mniejszy odstęp dać. */
  margin-top: 200px;
}

ul {
  display: inline-block;
  font-size: 1.2rem;
  /* Taki sposób na centrowanie bym nie polecał. Na sztywno od dołu, może
  różnie działać w różnych przeglądarkach, rozdzielczościach ...
  Tu bym dał paddingi z góry i z dołu, albo line-height :)
  Albo flex, ale to za chwilę ... */
  position: relative;
  bottom: 35px;
}

li {
  display: inline-block;
  list-style-type: none;
  /* Pewni zależy od sytuacji ale ja bym dał padding. Z tego powodu, że padding
  zwiększa klikalność np. na tabletach, smartphonach :) ale margin tez robi robotę :) */
  margin: 10px 20px 10px 0;
  cursor: pointer;
}

nav img {
  margin-left: 10px;
  width: 85px;
  display: inline-block;
  /* posiition chyba niepotzrebny */
  position: relative;
  cursor: pointer;
}

h3 {
  font-size: 1.3rem;
}
h3, p {
  margin: 15px;
  padding: 15px 15px 0 15px;
}

p {
  color:rgb(145, 144, 144);
}

/* Tu trochę niebezpiecznie. Wszystkie zdjęcia na takie style
mogą potem spowodować różne nieprzewidziane efekty.
Dobrze jest robić szczegółowe selektory. Dobrą zasadą, jest unikać takich
ogólnych styli dla elementów, chyba że na pewno wiemy że np. img
wszystkie mają mieć cursor. Ale z szerokoścuą potem tych zdjęć może być róznie :) */
main img {
  display: block;
  width: 40%;
  margin: auto;
  cursor: pointer;
}

.offers{
  margin-left: 15px;
  padding-left: 15px;
}

.offer {
  /* Odstępy od offers by się przydały :) */
  display:inline-block;
  width: 26%;
  /* Wysokości na sztywno też nie powinniśmy ustawiać. Content naj;epiej
  żeby ustawił. W tym przypadaku :) */
  height: 600px;
}

.offers .offer img {
  width: 400px;
  margin: 15px;
  padding: 15px;
  cursor: pointer;
}

h4 {
  margin-left: 25px;
  font-size: 1.2rem;
}
button {
  font-size: 0.9rem;
  border-color: blueviolet;
  color: blueviolet;
  background: white;
  margin: 5px auto;
  padding: 10px;
  display: block;
  cursor: pointer;
}

a {
  margin: 15px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: rgb(59, 59, 218);
}

footer{
  background-color: blueviolet;
  height: 150px;
  margin-top: 20px;
}
footer p {
  color: rgb(218, 203, 203);
  padding: 3px;
  margin: 3px 3px 3px 15px;
}

/* Lepiej dla całego footera dać padding z góry :) */
footer :first-child{
  padding-top: 25px;
}

.opinions{
  font-size: 0.95rem;
  /* Nie dawałbym konkretnych wymiarów. Lepiej by było żeby zawartość
  wypełniła diva, plus paddingi naokoło :) Takie liczby 290x75 dla celów
  testowania spoko, potem w pracy, warto przemyśleć :) Chyba że projekt
  graficzny jakoś wymaga ... */
  width: 290px;
  height: 75px;
  background: yellow;
  position: fixed;
  bottom: 120px;
  right: 100px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.opinions:hover{
  transform: scale(1.1);
}
button:hover{
  transform: scale(1.1);
}

li:hover{
  transform: scale(1.1);
}

img:hover{
  transform: scale(1.1);
}

a:hover{
  color: rgb(211, 75, 51);
}

/* Dobra robota! Jedno takie ogólne spostrzeżenie na koniec:
  Widzę ze do headerów i paragrafów niektórych zastosowałeś paddingi z lewej.
  NIc w tym złego, tylko że powtarzassz to za każdym razem gdy chcesz
  na taką samą odległość odsunąć kolejny header. Lepiej by było całemu body
  albo ogólnemu main czy div dać padding z lewej i prawej. Wtedy każdy element
  od razu byłby odsunięty :)
*/
